.cart__label__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.cart__label {
    text-align: center;
}

.cart__label_main {
    width: 45%;
    text-align: start;
}

.cart__label:nth-child(2) {
    width: 10%;
}
.cart__label:nth-child(3) {
    width: 10%;
}
.cart__label:nth-child(4) {
    width: 15%;
}
.cart__label:nth-child(5) {
    width: 15%; 
}
.cart__label:nth-child(6) {
    width: 5%;
}


.cart__label {
    font-weight: 500;
    font-size: 17px;
}

.cart__item__wrap {
    margin: 20px 0;
    border: 1px solid #504f4f;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
}

.cart__item__wrap:last-child {
    margin-bottom: 0;
}

.cart__item__product__wrap {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart__item__product__img {
    border-radius: 5px 0 0 5px;
    max-width: 100px;
    max-height: 100px;
}

.cart__item__product__name {
    font-size: 19px;
    font-weight: 500;
}

.cart__item__price {
    width: 10%;
}

.cart__item__size {
    width: 10%;
}

.cart__item__qty__wrap {
    width: 15%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cart__item__total-price {
    width: 15%;
    font-weight: 600;
}

.cart__item__delete-link {
    display: flex;
    justify-content: center;
    width: 5%;
}


.cart__item {
    text-align: center;
    font-size: 17px;
}

/* CART RESULT */

.cart__result__wrap {
    padding-top: 20px;
    border-top: 1px solid #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart__result__item {
    display: flex;
    align-items: center;
    gap: 50px;
}

.cart__result__item__total_grand {
    font-size: 30px;
}

.cart__result__checkout {
    border: 2px solid #333;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 50px;
    background-color: #333;
    color: #fff;
}

.cart__result__checkout:hover {
    background-color: #fff;
    color: #333;
}