.categories__all-link {
    display: block;
    padding: 20px 0;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    background-color: #000000;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 30px;
}

.categories__all-link:hover {
    background-color: #312b2b;
}

.categories__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.categories__link {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 0;
}

.categories__image:hover {
    opacity: 0.7;
}

.categories__text {
    position: absolute;
    right: 30px;
    bottom: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 28px;
}
