/* SWIPER */

.swiper {
    margin-bottom: 50px;
    width: 100%;
    background-color: #000;
    border-radius: 5px;
}

.swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-pagination-bullet {
    background-color: #fff;
}

.swiper-slide img {
    max-height: 410px;
    object-fit: cover;
    z-index: 0;
    border-radius: 0 3px 3px 0;
}

.swiper-content {
    color: #fff;
    padding-left: 100px;
}


.swiper__title {
    font-size: 37px;
    font-weight: 500;
}

.swiper__subtitle {
    font-size: 23px;
    padding: 30px 0;
}

.swiper__link {
    padding: 10px 20px;
    color: #333;
    background-color: #fff;
}

.swiper__link:hover {
    color: #fff;
    background-color: #9c120b;
}


/* OWL CAROUSEL */

/* .prev-btn-owl {
	position: absolute;
	left: -50px;
	top: 120px;
	border: none;
	font-size: 60px;
}

.next-btn-owl {
	position: absolute;
	right: -65px;
	top: 120px;
	border: none;
	font-size: 60px;
} */
