/* REGISTER */

.container_users {
    max-width: 700px;
}

.form__wrap {
    border: 2px solid black;
    padding: 30px;
    border-radius: 5px;
}

.users__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.form__label {
    font-size: 18px;
}

.form__field {
    border: 1px solid #333;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.form__button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: #9c120b;
}

/* LOGIN */

.auth__links__wrap {
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

.auth__link:hover {
    text-decoration: underline;
}

.auth__another__wrap {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.auth__another__title {
    padding: 15px 0;
}

.auth__another__link {
    position: relative;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    padding: 10px 10px 10px 30px;
}

.auth__another__link__img {
    position: absolute;
    left: 8px;
    top: 12px;
}

.auth__another__link:hover {
    background-color: #9c120b;
}

.error-text {
    color: #9c120b;
    font-size: 13px;
}


/* PROFILE */

.container_profile {
    max-width: 750px;
    margin: 0 auto;
}

.profile__info__wrap {
    border: 2px solid black;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.profile__img {
    max-width: 200px;
    max-height: 200px;
}

.profile__name__update__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__name,
.profile__orders__title {
    font-size: 22px;
    font-weight: 600;
}

.profile__update__link {
    display: block;
    font-weight: 300;
}

.profile__update__link:hover,
.profile__order__history:hover,
.profile__order__detail__link:hover {
    text-decoration: underline;
}

.profile__username {
    color: #7e7e7e;
    padding: 10px 0 3px 0;
}

.profile__email {
    color: #7e7e7e;
    padding-bottom: 10px;
}

.profile__analytics__wrap {
    display: flex;
    gap: 20px
}

.profile__analytics__item {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
}

.profile__analytics__detail {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}

.profile__analytics__detail-total {
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    font-weight: 700;
}

.profile__orders__wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile__order__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.profile__orders__title {
    padding: 30px 0 10px;
    text-align: center;
}

.profile__order__status {
    font-weight: 500;
}

.profile__order__history {
    display: inline-block;
    padding-top: 10px;
    font-weight: 300;
}


/* EDIT PROFILE */

.form__image__wrap {
    text-align: center;
}

.form__image {
    max-width: 200px;
    max-height: 200px;
    text-align: center;
}