{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/catalog_style.css' %}">
{% endblock %}


{% block content %}

    <section class="main_section">
        <div class="container">
            <h2 class="section__title">{% block title %}All sneakers{% endblock %}</h2>
            {% block search %}
            {% endblock %}
            <div class="catalog__wrap">
                <div class="catalog__card">
                    <a href="#" class="catalog__card__link">
                        <img src="{% static 'img/sneaker_img.png' %}" alt="#" class="catalog__card__img">
                    </a>
                    <div class="catalog__card__info">
                        <a href="#" class="catalog__card__name">Nike Air Force 1 Premium</a>
                        <div class="catalog__card__price__wrap">
                            <p class="catalog__card__price__new">$200</p>
                            <p class="catalog__card__price_sale">$200</p>
                            <p class="catalog__card__price">$200</p>
                        </div>
                        <button class="catalog__card__button">
                            <span class="catalog__card__button__add">add to cart</span>
                            <span class="material-icons catalog__card__button__icon">add_shopping_cart</span>
                        </button>
                    </div>
                </div>
                <div class="catalog__card">
                    <a href="#" class="catalog__card__link">
                        <img src="{% static 'img/sneaker_img.png' %}" alt="#" class="catalog__card__img">
                    </a>
                    <div class="catalog__card__info">
                        <a href="#" class="catalog__card__name">Nike Air Force 1 Premium</a>
                        <div class="catalog__card__price__wrap">
                            <p class="catalog__card__price__new">$200</p>
                            <p class="catalog__card__price_sale">$200</p>
                            <p class="catalog__card__price">$200</p>
                        </div>
                        <button class="catalog__card__button">
                            <span class="catalog__card__button__add">add to cart</span>
                            <span class="material-icons catalog__card__button__icon">add_shopping_cart</span>
                        </button>
                    </div>
                </div>
                <div class="catalog__card">
                    <a href="#" class="catalog__card__link">
                        <img src="{% static 'img/sneaker_img.png' %}" alt="#" class="catalog__card__img">
                    </a>
                    <div class="catalog__card__info">
                        <a href="#" class="catalog__card__name">Nike Air Force 1 Premium</a>
                        <div class="catalog__card__price__wrap">
                            <p class="catalog__card__price__new">$200</p>
                            <p class="catalog__card__price_sale">$200</p>
                            <p class="catalog__card__price">$200</p>
                        </div>
                        <button class="catalog__card__button">
                            <span class="catalog__card__button__add">add to cart</span>
                            <span class="material-icons catalog__card__button__icon">add_shopping_cart</span>
                        </button>
                    </div>
                </div>
                <div class="catalog__card">
                    <a href="#" class="catalog__card__link">
                        <img src="{% static 'img/sneaker_img.png' %}" alt="#" class="catalog__card__img">
                    </a>
                    <div class="catalog__card__info">
                        <a href="#" class="catalog__card__name">Nike Air Force 1 Premium</a>
                        <div class="catalog__card__price__wrap">
                            <p class="catalog__card__price__new">$200</p>
                            <p class="catalog__card__price_sale">$200</p>
                            <p class="catalog__card__price">$200</p>
                        </div>
                        <button class="catalog__card__button">
                            <span class="catalog__card__button__add">add to cart</span>
                            <span class="material-icons catalog__card__button__icon">add_shopping_cart</span>
                        </button>
                    </div>
                </div>
                <div class="catalog__card">
                    <a href="#" class="catalog__card__link">
                        <img src="{% static 'img/sneaker_img.png' %}" alt="#" class="catalog__card__img">
                    </a>
                    <div class="catalog__card__info">
                        <a href="#" class="catalog__card__name">Nike Air Force 1 Premium</a>
                        <div class="catalog__card__price__wrap">
                            <p class="catalog__card__price__new">$200</p>
                            <p class="catalog__card__price_sale">$200</p>
                            <p class="catalog__card__price">$200</p>
                        </div>
                        <button class="catalog__card__button">
                            <span class="catalog__card__button__add">add to cart</span>
                            <span class="material-icons catalog__card__button__icon">add_shopping_cart</span>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

{% endblock %}