{% extends 'base.html' %}
{% load static %}
{% load goods_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/catalog_style.css' %}">
{% endblock %}


{% block content %}
    <section class="main_section">
        <div class="container">
            {% if products %}
            <h2 class="main__title">{% categories_tag slug %}</h2>
            <div class="catalog__info">
                <div class="dropdown__wrap">
                    <div class="dropdown_info">
                        <span class="dropdown__title">Sort by:</span>
                        {% if request.GET.order_by == 'price' %}
                        <span>low to high</span>
                        {% elif request.GET.order_by == '-price' %}
                        <span>high to low</span>
                        {% else %}
                        <span>default</span>
                        {% endif %}
                    </div>
                    <ul class="dropdown">
                        <li><a href="?">Default</a></li>
                        <li><a href="?order_by=price">Price: low to high</a></li>
                        <li><a href="?order_by=-price">Price: high to low</a></li>
                    </ul>
                </div>
                <p>Quantity of Sneakers: <span class="catalog__info__qty">{{ products|length }}</span></p>                
            </div>
            <div class="catalog__wrap">
                {% for product in products %}
                <div class="catalog__card">
                    <a href="{% url 'product_detail' product.slug %}" class="catalog__card__link">
                        <img src="{{ product.image.url }}" alt="#" class="catalog__card__img">
                    </a>
                    <div class="catalog__card__info">
                        <a href="#" class="catalog__card__name">{{ product.name }}</a>
                        <div class="catalog__card__price__wrap">
                            {% if product.discount %}
                            <p class="catalog__card__price_new">${{ product.sell_price }}</p>
                            <p class="catalog__card__price_old">${{ product.price }}</p>
                            <small>-{{ product.discount }}%</small>
                            {% else %}
                            <p class="catalog__card__price">${{ product.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if products.has_next and products.has_previous %}
            <div class="pagination__wrap">
                {% if products.has_previous %}
                <a href="?{% change_params page=products.previous_page_number %}"><span class="material-icons pagination__button">arrow_back_ios</span></a>
                {% else %}
                <span class="material-icons pagination__button disabled">arrow_back_ios</span>
                {% endif %}

                {% for page in products.paginator.page_range %}
                <a {% if products.number == page %} class="disabled"{% endif %} href="?{% change_params page=page %}">{{ page }}</a>
                {% endfor %}

                {% if products.has_next %}
                <a href="?{% change_params page=products.next_page_number %}"><span class="material-icons pagination__button">arrow_forward_ios</span></a>
                {% else %}
                <span class="material-icons pagination__button disabled">arrow_forward_ios</span>
                {% endif %}
            </div>
            {% endif %}
        {% else %}
        <p class="nothing-found">Nothing was found</p>
        {% endif %}
        </div>
    </section>

{% endblock %}