{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/categories_style.css' %}">
{% endblock %}


{% block content %}

<section class="main_section">
    <div class="container">
        <h2 class="main__title">Select category:</h2>
        <div class="categories">
            <a href="{% url 'catalog' gender 'all' %}" class="categories__all-link">All categories</a>
            <ul class="categories__wrap">
                {% for category in categories %}
                <li class="categories__item">
                    <a href="{% url 'catalog' gender category.slug %}" class="categories__link">
                        <img class="categories__image" src="{{ category.image.url }}" alt="">
                        <p class="categories__text">{{ category.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>    

{% endblock %}
