{% extends 'base.html' %}
{% load static %}


{% block css %} 
<link rel="stylesheet" href="{% static 'css/product_style.css' %}">
{% endblock %}


{% block content %}
<section class="main_section">
    <div class="container">
        <a href="{{ request.META.HTTP_REFERER }}" class="back-button"><span class="material-icons back-button_icon">arrow_back_ios</span>Back to the list of sneakers</a>
        <div class="product__wrap">
            <div class="product__images__wrap">
                <img class="product__image product__image_main"src="{{ product.image.url }}" alt="">
                <img class="product__image" src="{{ product.image.url }}" alt="{{ product.name }}">
                <img class="product__image" src="{{ product.image.url }}" alt="{{ product.name }}">
                <img class="product__image" src="{{ product.image.url }}" alt="{{ product.name }}">
                <img class="product__image" src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
            <div class="product__info__wrap">
                <h2 class="product__info__title">{{ product.name }}</h2>
                <p class="product__info__article">Article: {{ product.article }}</p>
                {% if items %}
                <div class="product__info__price__wrap">
                    {% if product.discount %}
                    <p class="product__info__price product__info__price_new">$ {{ product.sell_price }}</p>
                    <p class="product__info__price_old">$ {{ product.price }}</p>
                    {% else %}
                    <p class="product__info__price">$ {{ product.price }}</p>
                    {% endif %}
                </div>

                <form method="post" action="{% url 'cart_add' %}" class="ajax-link">
                    {% csrf_token %}
                    <div class="product__info__size__wrap">
                        <label class="product__info__size__title" for="sizes">Choose a size:</label>
                        <select class="custom-select" id="sizes">
                            {% for i in items %}
                            <option name="size" value="{{ i.size }}">{{ i.size }}</option>
                            {% endfor %}

                            {% comment %} <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option> {% endcomment %}
                        </select>
                    </div>
                    <button type="submit" class="product__info__add-button ajax-add" data-product-id="{{ product.id }}">Add to cart</button>
                </form>
                {% else %}
                <p class="sold-out">Sold Out :(</p>
                {% endif %}

                {% comment %} <a href="{% url 'cart_add' %}" class="product__info__add-button ajax-add" data-product-id="{{ product.id }}">Add to cart</a> {% endcomment %}
                <div class="product__info__description__wrap">
                    <p class="product__info__description__title">Description:</p>
                    <p class="product__info__description__text">{{ product.description }}</p>    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}