{% extends 'base.html' %}
{% load static %} 


{% block css %} 
<link rel="stylesheet" href="{% static 'css/cart_style.css' %}">
{% endblock %}


{% block content %}

<section class="main_section">
    <div class="container">
        <h2 class="main__title">Your cart</h2>
        <div class="cart__label__wrap">
            <p class="cart__label cart__label_main">Item</p>
            <p class="cart__label">Price</p>
            <p class="cart__label">Quantity</p>
            <p class="cart__label">Total</p>
        </div>
        <div class="cart__item__wrap">
            <div class="cart__item__product__wrap">
                <img class="cart__item__product__img" src="{% static 'img/sneaker_img.png' %}" alt="">
                <p class="cart__item__product__name">Nike Air Max 1</p>
            </div>
            <p class="cart__item__price cart__item">$321</p>
            <div class="cart__item__qty__wrap cart__item">
                <button class="cart__item__qty__btn">+</button>
                <p class="cart__item__qty">2</p>
                <button class="cart__item__qty__btn">-</button>
            </div>
            <p class="cart__item__total-price cart__item">$642</p>
        </div>
        <div class="cart__item__wrap">
            <div class="cart__item__product__wrap">
                <img class="cart__item__product__img" src="{% static 'img/sneaker_img.png' %}" alt="">
                <p class="cart__item__product__name">Nike Air Max 1</p>
            </div>
            <p class="cart__item__price cart__item">$321</p>
            <div class="cart__item__qty__wrap cart__item">
                <button class="cart__item__qty__btn">+</button>
                <p class="cart__item__qty">2</p>
                <button class="cart__item__qty__btn">-</button>
            </div>
            <p class="cart__item__total-price cart__item">$642</p>
        </div>
        <div class="cart__item__wrap">
            <div class="cart__item__product__wrap">
                <img class="cart__item__product__img" src="{% static 'img/sneaker_img.png' %}" alt="">
                <p class="cart__item__product__name">Nike Air Max 1</p>
            </div>
            <p class="cart__item__price cart__item">$321</p>
            <div class="cart__item__qty__wrap cart__item">
                <button class="cart__item__qty__btn">+</button>
                <p class="cart__item__qty">2</p>
                <button class="cart__item__qty__btn">-</button>
            </div>
            <p class="cart__item__total-price cart__item">$642</p>
        </div>
        <div class="cart__result__wrap">
            <div class="cart__result__item">
                <p class="cart__result__item__label">Subtotal:</p>
                <p class="cart__result__item__total">$1926</p>
            </div>
            <div class="cart__result__item">
                <p class="cart__result__item__label">Grand total:</p>
                <p class="cart__result__item__total cart__result__item__total_grand">$1926</p>
            </div>
        </div>
        <a href="#" class="cart__result__checkout">Check Out</a>

    </div>
</section>

{% endblock %}