{% extends 'base.html' %}
{% load static %} 
{% load cart_tag %}


{% block css %} 
<link rel="stylesheet" href="{% static 'css/cart_style.css' %}">
<link rel="stylesheet" href="{% static 'css/forms_style.css' %}">

{% endblock %}


{% block content %}
{% get_user_carts request as carts %}

<section class="main_section">
    <div class="container">
        <h2 class="main__title">Your cart (<span id="cart-items">{{ carts.total_qty }}</span> items)</h2>
        <div class="cart__label__wrap">
            <p class="cart__label cart__label_main">Item</p>
            <p class="cart__label">Size</p>
            <p class="cart__label">Price</p>
            <p class="cart__label">Quantity</p>
            <p class="cart__label">Total</p>
            <p class="cart__label"></p>
        </div>
        {% for cart in carts %}
        <div class="cart__item__wrap" data-cart-id="{{ cart.id }}">
            <div class="cart__item__product__wrap">
                <img class="cart__item__product__img" src="{{ cart.product_item.product.image.url }}" alt="">
                <a href="{{ cart.product_item.product.get_absolute_url }}" class="cart__item__product__name">{{ cart.product_item.product.name }}</a>
            </div>
            <p class="cart__item__size cart__item">{{ cart.product_item.size }}</p>
            <p class="cart__item__price cart__item">${{ cart.product_item.product.sell_price }}</p>
            <div class="cart__item__qty__wrap cart__item">
                <button type="button" class="cart__item__qty__btn increment" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url "cart_change" %}">+</button>
                {% csrf_token %}
                <p class="cart__item__qty cart-item-qty">{{ cart.quantity }}</p>
                <button type="button" class="cart__item__qty__btn decrement" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url "cart_change" %}">-</button>
                {% csrf_token %}
            </div>
            <p class="cart__item__total-price cart__item">${{ cart.product_price }}</p>
            <p class="cart__item__delete-link"><a href="{% url 'cart_remove' %}" data-cart-id="{{ cart.id }}" class="material-icons ajax-remove">clear</a></p>
            {% csrf_token %}
        </div>
        {% endfor %}
        <div class="cart__result__wrap">
            <div class="cart__result__item">
                <p class="cart__result__item__label">Grand total:</p>
                <p class="cart__result__item__total cart__result__item__total_grand">${{ carts.total_price }}</p>
            </div>
        </div>
        {% if user.is_authenticated %}
        <a href="#" class="cart__result__checkout checkout__open">Check Out</a>

        <div class="checkout__fade">
            <div class="checkout__wrap">
                <a class="material-icons checkout__close" href="#">clear</a>
                <h3 class="checkout__title">Order details</h3>

                <form action="{% url 'cart' %}" method="post" class="users__form">
                    {% csrf_token %}
                    
                    <p class="error-text">{% if form.non_field_errors %}{{ form.non_field_errors.as_text }}{% endif %}</p>
                    
                    <div class="form__item">
                        <label for="id_first_name" class="form__label">First name</label>
                        <input type="text" name="first_name" class="form__field" id="id_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" placeholder="Ivan" required>
                        {% if form.first_name.errors %}
                        <p class="error-text">{{ form.first_name.errors.as_text }}</p>
                        {% endif %}
                    </div>
                    <div class="form__item">
                        <label for="id_last_name" class="form__label">Surname</label>
                        <input type="text" name="last_name" class="form__field" id="id_last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" placeholder="Ivanov" required> 
                        {% if form.last_name.errors %}
                        <p class="error-text">{{ form.last_name.errors.as_text }}</p>
                        {% endif %}
                    </div>
                    <div class="form__item">
                        <label for="id_phone" class="form__label">Phone</label>
                        <input type="text" name="phone_number" class="form__field" id="id_phone" value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}" placeholder="(XXX) XXX-XXXX" required> 
                        {% if form.phone_number.errors %}
                        <p class="error-text">{{ form.phone_number.errors.as_text }}</p>
                        {% endif %}
                    </div>
                    <p class="form__label">Delivery method:</p>
                    <div class="checkout__form__choose">
                        <div class="checkout__form__choose-item">
                            <input type="radio" name="need_delivery" id="id_need_delivery" value="1" checked>
                            <label for="id_need_delivery">Need delivery</label>
                        </div>
                        <div class="checkout__form__choose-item">
                            <input type="radio" name="need_delivery" id="id_pick_up_in_store" value="0">
                            <label for="id_pick_up_in_store">Pick up in store</label>
                        </div>
                    </div>
                    <div id="deliveryAddressField">
                        <label for="id_delivery_address" class="form__label">Delivery address:</label>
                        <textarea class="form__field" id="id_delivery_address"
                            name="delivery_address" value="{% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}"></textarea>
                        {% if form.delivery_address.errors %}
                        <p class="error-text">{{ form.delivery_address.errors.as_text }}</p>
                        {% endif %}
                    </div>
                    <p class="form__label">Payment method:</p>
                    <div class="checkout__form__choose">
                        <div class="checkout__form__choose-item">
                            <input type="radio" name="payment_on_delivery" id="id_card_payment" value="0" checked>
                            <label for="id_card_payment">Card payment</label>
                        </div>
                        <div class="checkout__form__choose-item">
                            <input type="radio" name="payment_on_delivery" id="id_cash_or_card_delivery" value="1">
                            <label for="id_cash_or_card_delivery">Cash/Card on delivery</label>
                        </div>
                    </div>
    
                    <button class="form__button" type="submit">Submit</button> 
                </form>
            </div>		
        </div>
        {% else %}
        <div class="cart__message">
            <p>To make a purchase, you need to <a href="{% url 'register' %}" class="cart__message__link">register</a> or <a href="{% url 'login' %}" class="cart__message__link">login</a>.</p>
            <p>Don't worry, the items in your cart will be saved.</p>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}