{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
{% endblock %}


{% block content %}

<section class="main_section">
    <div class="container">
        <div class="profile">
            <h2 class="main__title">Your profile</h2>
            <div class="profile__info__wrap">
                {% if user.image %}
                <img class="profile__img" src="{{ user.image.url }}" alt="user_image">
                {% else %}
                <img class="profile__img" src="{% static 'img/profile/default_image.png' %}" alt="default_image">
                {% endif %}
                <div class="profile__info">
                    <div class="profile__name__update__wrap">
                        <p class="profile__name">{{ user.first_name }} {{ user.last_name }}</p>
                        <a href="{% url 'update_profile' %}" class="material-icons profile__update__link">settings</a>
                    </div>
                    <p class="profile__username">username: {{ user.username }}</p>
                    <p class="profile__email">email: {{ user.email }}</p>
                </div>
            </div>
            <hr>
            <div class="profile__analytics__wrap">
                <div class="profile__analytics__item">
                    <p class="profile__analytics__text">Amount of purchases:</p>
                    <p class="profile__analytics__value">$ {{ orders.total_price }}</p>
                </div>
                <div class="profile__analytics__item">
                    <p class="profile__analytics__text">Purchased sneakers:</p>
                    <p class="profile__analytics__value">{{ orders.total_qty }}</p>
                </div>
            </div>
            <hr>
            <h2 class="profile__orders__title">Your orders:</h2>
            {% if orders %}
            <div class="profile__orders__wrap">
                {% for order in orders %}
                <div class="profile__order__item">
                    <div class="profile__order__info__wrap">

                        <p class="profile__order__info">Order № {{ order.id }} - {{ order.created_at }}</p>
                        <p>Status: <span class="profile__order__value">{{ order.status }}</span></p>
                        <p class="profile__order__info">Price: <span class="profile__order__value">$ {{ order.order_price }}</span></p>
                        <p class="profile__order__info">Quantity: <span class="profile__order__value">{{ order.orderitem_quantity }}</span></p>
                        
                    </div>
                    <hr>
                    <div class="order-item__wrap">
                        {% for item in order.orderitem_set.all %}
                        <div class="order-item__item">
                                <img class="order-item__image" src="{{ item.product_item.product.image.url }}" alt="">
                            <div>
                                <a href="{{ item.product_item.product.get_absolute_url }}" class="order-item__info order-item__link">{{ item.name }}</a>
                                <p class="order-item__info">Size: {{ item.product_item.size }}</p>
                                <p class="order-item__info">{{ item.quantity }}X = ${{ item.product_price }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
                {% endfor %}

            </div>
            {% else %}
            <div class="nothing-found">No orders yet</div>
            {% endif %}
            {% comment %} <a href="#" class="profile__order__history">Show the order history</a> {% endcomment %}
        </div>
    </div>
</section>

{% endblock %}