{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    {% block css %}{% endblock %}
    <title>Sneaker World</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a href="{% url 'home' %}" class="header__logo">
                    <span class="header__logo__title">
                        Sneaker World 
                    </span>
                    <span class="material-icons header__logo__icon">public</span>
                </a>
                <nav class="header__nav">
                    <ul class="header__list">
                        {% comment %} <li class="header__item"><a href="{% url 'logout' %}" class="header__link">{{ request.user.username }}</a></li> {% endcomment %}
                        <li class="header__item"><a href="{% url 'profile' %}" class="header__link">Profile</a></li>
                        <li class="header__item"><a href="{% url 'about' %}" class="header__link">About us</a></li>
                        {% if user.is_superuser %}<li class="header__item"><a href="/admin" class="header__link">To Admin panel</a></li>{% endif %}
                    </ul>
                </nav>
                <div class="header__user__links">
                    <a href="{% url 'search' %}" class="material-icons header__user__link">search</a>
                    <a href="{% url 'register' %}" class="material-icons header__user__link">favorite_border</a>
                    <a href="{% url 'login' %}" class="material-icons header__user__link">shopping_cart</a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>