{% load static %}
{% load cart_tag %}
{% load goods_tags %}

{% get_user_carts request as carts_qty %}
{% get_categories 'men' as men_cats %}
{% get_categories 'women' as women_cats %}
{% get_categories 'kids' as kids_cats %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{% static 'img/assets/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    {% block css %}{% endblock %}
    <title>Sneaker World</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a href="{% url 'home' %}" class="header__logo">
                    <span class="header__logo__title">
                        Sneaker World 
                    </span>
                    <span class="material-icons header__logo__icon">public</span>
                </a>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item"><a href="{% url 'categories' 'men' %}" class="header__link">Men</a></li>
                        <li class="header__item"><a href="{% url 'categories' 'women' %}" class="header__link">Women</a></li>
                        <li class="header__item"><a href="{% url 'categories' 'kids' %}" class="header__link">Kids</a></li>
                        <li class="header__item"><a href="{% url 'about' %}" class="header__link">About Us</a></li>
                    </ul>
                </nav>
                <div class="header__user__links">
                    <a href="{% url 'profile' %}" class="material-icons header__user__link">person</a>
                    <a href="{% url 'search' %}" class="material-icons header__user__link">search</a>
                    <div class="header__cart__wrap">
                        <a href="{% url 'cart' %}" class="material-icons header__user__link">shopping_cart</a>
                        <p id="ajax-qty">{{ carts_qty.total_qty }}</p>
                    </div>
                </div>
            </div>

            {% comment %} <ul class="nav__wrap">
                <li><a href="{% url 'catalog' 'men' 'all' %}">Men</a>
                    <ul>
                        {% for men_cat in men_cats %}
                        <li><a href="{% url 'catalog' men_cat.gender men_cat.slug %}">{{ men_cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'catalog' 'women' 'all' %}">Women</a>
                    <ul>
                        {% for women_cat in women_cats %}
                        <li><a href="{% url 'catalog' women_cat.gender women_cat.slug %}">{{ women_cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'catalog' 'kids' 'all' %}">Kids</a>
                    <ul>
                        {% for kids_cat in kids_cats %}
                        <li><a href="{% url 'catalog' kids_cat.gender kids_cat.slug %}">{{ kids_cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'catalog' 'sale' 'all' %}">Sale</a></li>
            </ul>             {% endcomment %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/jquery/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/jquery-ajax.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>