{% load static %}
{% load cart_tag %}
{% load goods_tags %}

{% get_user_carts request as carts_qty %}

{% get_categories_tag as categories_list %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{% static 'img/assets/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    {% block css %}{% endblock %}
    <title>Sneaker World</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a href="{% url 'home' %}" class="header__logo">
                    <span class="header__logo__title">
                        Sneaker World 
                    </span>
                    <span class="material-icons header__logo__icon">public</span>
                </a>
                <nav class="header__nav">
                    <ul class="header__list">
                        {% for category in categories_list %}
                        <li>
                            <a href="{% url 'catalog' category.name 'all' %}" class="header__link">{{ category.name }}</a>
                            {% get_style_tag category.name as styles %}
                            <ul class="header__submenu">
                                {% for style in styles %}
                                <li>
                                    <a href="{% url 'catalog' style.category style.url %}" 
                                    class="header__link header__link_sub">{{ style.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                        <li><a href="{% url 'about' %}" class="header__link">About Us</a></li>
                        {% if user.is_staff %}
                        <li>
                            <a href="/admin" class="header__link">To admin panel</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="header__user__links">
                    <a href="{% url 'profile' %}" class="material-icons header__user__link">person</a>
                    <a href="{% url 'search' %}" class="material-icons header__user__link">search</a>
                    <div class="header__cart__wrap">
                        <a href="{% url 'cart' %}" class="material-icons header__user__link">shopping_cart</a>
                        <p id="ajax-qty">{{ carts_qty.total_qty }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}
    <script src="{% static 'js/jquery/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/base_script.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>