{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/about_style.css' %}">
{% endblock %}

{% block content %}
    <section class="main_section">
        <div class="container">
            <h2 class="main__title">About Us</h2>
            <div class="about__wrap">
                <p class="about__text">"Sneaker World" is an online store that specializes in selling a wide range of
                    sneakers. The store was founded by a group of passionate sneaker enthusiasts who wanted to create a
                    platform where people could find the latest and most exclusive sneaker releases.</p>
                <p class="about__text">
                    The founders of "Sneaker World" believed that there was a lack of reliable and trustworthy sources for
                    sneaker enthusiasts to purchase their favorite sneakers. They wanted to create a store that would offer
                    a wide selection of sneakers from various brands, as well as provide customers with a convenient and
                    secure shopping experience.</p>
                <p class="about__text">
                    Since its inception, "Sneaker World" has grown rapidly, attracting customers from all over the world.
                    The store offers a wide range of sneakers from popular brands such as Nike, Adidas, and Puma, as well as
                    limited edition and exclusive releases.</p>
                <p class="about__text">
                    One of the key features of "Sneaker World" is its customer service. The store has a dedicated team of
                    customer service representatives who are always ready to assist customers with any questions or concerns
                    they may have. The team is committed to providing a personalized and friendly experience for each
                    customer. </p>
                <p class="about__text">
                    In conclusion, "Sneaker World" is an online store that offers a wide range of sneakers from various
                    brands. The store aims to provide customers with a convenient and secure shopping experience, as well as
                    a dedicated customer service team to assist with any questions or concerns. With its rapid growth and
                    commitment to customer satisfaction, "Sneaker World" has become a popular destination for sneaker
                    enthusiasts worldwide.</p>
            </div>
        </div>
    </section>
{% endblock %}