{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/about_style.css' %}">
{% endblock %}

{% block content %}
    <section class="main_section">
        <div class="container">
            <div class="about__wrap">
                <img src="{% static 'img/about/banner-sneaker.png' %}" alt="banner" class="about__banner">
                <div class="about__content">
                    <h2 class="about__title">About Sneaker World:</h2>
                    <h3 class="about__subtitle">Legend:</h3>
                    <p class="about__text">"Sneaker World" is an online store that specializes in selling a wide range of
                        sneakers. The store was founded by a group of passionate sneaker enthusiasts who wanted to create a
                        platform where people could find the latest and most exclusive sneaker releases.
                    </p>
                    <p class="about__text">
                        The founders of "Sneaker World" believed that there was a lack of reliable and trustworthy sources for
                        sneaker enthusiasts to purchase their favorite sneakers. They wanted to create a store that would offer
                        a wide selection of sneakers from various brands, as well as provide customers with a convenient and
                        secure shopping experience.
                    </p>
                    <p class="about__text">
                        Since its inception, "Sneaker World" has grown rapidly, attracting customers from all over the world.
                        The store offers a wide range of sneakers from popular brands such as Nike, Adidas, and Puma, as well as
                        limited edition and exclusive releases.
                    </p>
                    <h3 class="about__subtitle">Real Story:</h3>
                    <p class="about__text">
                        "Sneaker World" is an e-commerce pet-project for developing skills in creating a web application. 
                        I hope you enjoyed it. 
                        <br>
                        Links to my social networks:
                    </p>
                    <p class="about__text">
                        
                    </p>
                    <div class="about__links__wrap">
                        <a href="https://t.me/TimeToBeShine" class="about__link about__link_telegram">Telegram <img src="{% static 'img/icons/telegram.svg' %}" alt="telegram"></a>
                        <a href="https://github.com/iamwebster" class="about__link about__link_github">GitHub <img src="{% static 'img/icons/github.svg' %}" alt="github"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}