{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sneaker World</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__logo">
                    <h1 class="header__logo__title">Sneaker World</h1>
                    <span class="material-icons header__logo__icon">
                        public
                    </span>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item"><a href="#" class="header__link">Home</a></li>
                        <li class="header__item"><a href="#" class="header__link">Profile</a></li>
                        <li class="header__item"><a href="#" class="header__link">About us</a></li>
                    </ul>
                </nav>
                <div class="header__user__links">
                    <a href="#" class="material-icons header__user__link">search</a>
                    <a href="#" class="material-icons header__user__link">favorite_border</a>
                    <a href="#" class="material-icons header__user__link">shopping_cart</a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="banner__wrap">
                <img src="{% static 'img/banner-sneaker.png' %}" alt="banner sneaker" class="banner__img">
                <div class="banner__info">
                    <p class="banner__text">The best selection of trends this season.</p>
                    <b class="banner__title">Step into comfort</b>
                    <div class="banner__links__wrap">
                        <a href="#" class="banner__link">Men</a>
                        <a href="#" class="banner__link">Women</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>