{% extends "base.html" %}
{% load static %}


{% block content %}
    <section class="main__section">
        <div class="container">
            <div class="banner__wrap">
                <img src="{% static 'img/banner-sneaker.png' %}" alt="banner sneaker" class="banner__img">
                <div class="banner__info">
                    <p class="banner__text">The best selection of trends this season.</p>
                    <b class="banner__title">Step into comfort</b>
                    <div class="banner__links__wrap">
                        <a href="{% url 'categories' 'men' %}" class="banner__link">Men</a>
                        <a href="{% url 'categories' 'women' %}" class="banner__link">Women</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}